.b-chart
{
    background-color: #fff;
    border: 1px solid black;
    position: relative;
}

.b-chart__chart
{
    border: 0 none;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.b-chart__cell-middle-left
{
    padding: 0;
    text-align: right;
    vertical-align: top;
    width: 60px;
}

.b-chart__cell-middle
{
    padding: 0;
}

.b-chart__cell-middle-right
{
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 60px;
}

.b-chart__label
{
    position: absolute;
}

.b-chart__viewport
{
    position: relative;
}
