body {
    /* Prevent width change when scrollbar appearance */
    overflow-y: scroll;
}

.b-chart
{
    background-color: #fff;
    border: 1px solid black;
    position: relative;
}

.b-chart__chart
{
    border: 0 none;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.b-chart__cell
{
    padding: 0;
}

.b-chart__cell_h_left
{
    text-align: right;
    vertical-align: top;
    width: 60px;
}

.b-chart__cell_h_right
{
    text-align: left;
    vertical-align: top;
    width: 60px;
}

.b-chart__cell_v_top
{
    vertical-align: bottom;
    height: 30px;
}

.b-chart__cell_v_bottom
{
    vertical-align: top;
    height: 30px;
}

.b-chart__viewport
{
    position: relative;
}

.b-chart__clipped-viewport
{
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.b-chart__canvas
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
